.list-item {
    width: 60%;
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.list-item-icon {
    margin: 5px;
}

.list-item-icon path {
    fill: rgba(0, 0, 0, 0.3)
}

.list-item-icon path:hover {
    cursor: pointer;
}

.list-item-icon.delete path:hover {
    fill: #f44336;
}

.list-item-icon.rename path:hover {
    fill: #00bcd4;
}

.list-item input {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.list-item input:active, .list-item input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
}